main {
    margin-top: 100px;
}

.intro-wrapper {
    padding: 20px;
}

.projects-wrapper {
    margin: 50px;
}

.project-wrapper {
    border: 1px solid var(--projects-border-color);
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.project-wrapper p,
.img-wrapper {
    margin-top: 20px;
}